@import "tailwindcss";

@theme {
  --color-sage-green: #A3B18A;
  --color-sage-green-dark: #588157;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}

@layer base {
  body {
    background-color: var(--color-stone-50);
    color: var(--color-stone-900);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}
